body {
    background-color: rgb(238, 250, 255);
}

h1 {
    font-style: italic;
}

th {
    background-color: lightskyblue;
    
    }

table, th, td {
    border: 1px;
    border-collapse: collapse;
    border-style: solid;;
}


tr:nth-child(odd){
    background-color: lightcyan;
}

