body {
    background-color: rgb(225, 240, 247);
}

h1 {
    font-style: italic;
}

th {
    background-color: lightskyblue;
    
    }

table, th, td {
    border: 1px;
    border-collapse: collapse;
    border-style: solid;;
}


/* tr:nth-child(odd){
    background-color: lightcyan;
} */

table {
    width: 100%;
}

th {
    width: 25%;
}

td {
    text-align: center;
}


.false {
    font-style: italic;
    background-color: lightcoral;

}

.true {
    background-color: lightgreen;
}